name: firebase_crud
description: Simple CRUD Operation Using Firebase

publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.2
  firebase_core: ^1.3.0
  cloud_firestore: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true
